interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token [FILTERED]
    method: GET
    uri: https://uni-hope-ukr-sr-dev.unitst.org/api/record/
  response:
    body:
      string: "{\"next\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cD0zMTQ5\",\"previous\":null,\"results\":[{\"id\":3158,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/24/\",\"registrar\":null,\"project\":9,\"organization\":5,\"project_slug\":\"ukraine_child_protection\",\"organization_slug\":\"ukraine\",\"unique_field\":null,\"remote_ip\":\"105.235.213.90\",\"timestamp\":\"2024-11-12T13:01:02.521747Z\",\"ignored\":false,\"size\":5365,\"counters\":{\"start\":\"Tue
        Nov 12 2024 13:58:44 GMT+0100 (Central European Standard Time)\",\"total\":\"137713\",\"rounds\":\"2\",\"elapsed\":\"55759\"},\"fields\":{\"ip\":\"105.235.213.90\",\"counters\":{\"start\":\"Tue
        Nov 12 2024 13:58:44 GMT+0100 (Central European Standard Time)\",\"total\":\"137713\",\"rounds\":\"2\",\"elapsed\":\"55759\"},\"household\":[{\"admin1_h_c\":\"UA05\",\"admin2_h_c\":\"UA0502\",\"admin3_h_c\":\"UA0502001\"}],\"marketing\":[{\"can_unicef_contact_you\":[\"1\"]}],\"enumerator\":\"639723\",\"individuals\":[{\"id_type\":\"tax_id\",\"role_i_c\":\"y\",\"birth_date\":\"1991-01-01\",\"gender_i_c\":\"male\",\"patronymic\":\"sdf\",\"phone_no_i_c\":\"+380123451234\",\"tax_id_no_i_c\":\"1234512345\",\"disability_i_c\":\"n\",\"given_name_i_c\":\"sf\",\"family_name_i_c\":\"sdf\",\"bank_account_h_f\":\"n\",\"relationship_i_c\":\"head\"}],\"validator_uk\":[{\"validation\":\"y\"}]},\"index1\":null,\"index2\":null,\"index3\":null,\"is_offline\":false,\"registration\":24},{\"id\":3157,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/24/\",\"registrar\":null,\"project\":9,\"organization\":5,\"project_slug\":\"ukraine_child_protection\",\"organization_slug\":\"ukraine\",\"unique_field\":null,\"remote_ip\":\"105.235.213.90\",\"timestamp\":\"2024-11-12T06:16:15.873388Z\",\"ignored\":false,\"size\":6024,\"counters\":{\"start\":\"Tue
        Nov 12 2024 07:14:51 GMT+0100 (Central European Standard Time)\",\"total\":\"82180\",\"rounds\":\"1\",\"elapsed\":\"82180\"},\"fields\":{\"ip\":\"105.235.213.90\",\"counters\":{\"start\":\"Tue
        Nov 12 2024 07:14:51 GMT+0100 (Central European Standard Time)\",\"total\":\"82180\",\"rounds\":\"1\",\"elapsed\":\"82180\"},\"household\":[{\"size_h_c\":-2,\"admin1_h_c\":\"UA05\",\"admin2_h_c\":\"UA0504\",\"admin3_h_c\":\"UA0504003\",\"f_adults_above_18_h_f\":1,\"m_adullts_above_18_h_f\":1,\"f_children_under_18_h_f\":1,\"m_children_under_18_h_f\":1}],\"marketing\":[{\"can_unicef_contact_you\":[\"1\"]}],\"enumerator\":\"639723\",\"individuals\":[{\"id_type\":\"tax_id\",\"role_i_c\":\"y\",\"birth_date\":\"1990-12-31\",\"gender_i_c\":\"female\",\"patronymic\":\"asd\",\"bank_account\":\"UA123456789012345678901234567\",\"phone_no_i_c\":\"+380123123123\",\"tax_id_no_i_c\":\"1234567890\",\"disability_i_c\":\"n\",\"given_name_i_c\":\"asd\",\"family_name_i_c\":\"ads\",\"bank_account_h_f\":\"y\",\"relationship_i_c\":\"head\",\"bank_account_number\":\"UA123456789012345678901234567\"}],\"validator_uk\":[{\"validation\":\"y\"}]},\"index1\":null,\"index2\":null,\"index3\":null,\"is_offline\":false,\"registration\":24},{\"id\":3156,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/24/\",\"registrar\":null,\"project\":9,\"organization\":5,\"project_slug\":\"ukraine_child_protection\",\"organization_slug\":\"ukraine\",\"unique_field\":null,\"remote_ip\":\"105.235.213.90\",\"timestamp\":\"2024-11-12T06:14:27.175648Z\",[...]
- request:
    body: null
    headers:
      Authorization:
      - Token [FILTERED]
    method: GET
    uri: https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cD0zMTQ5
  response:
    body:
      string: "{\"next\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cD0zMTM5\",\"previous\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cj0xJnA9MzE0OA%3D%3D\",\"results\":[{\"id\":3148,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/19/\[...]
- request:
    body: null
    headers:
      Authorization:
      - Token [FILTERED]
    method: GET
    uri: https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cD0zMTM5
  response:
    body:
      string: '{"next":"https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cD0zMTI5","previous":"https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cj0xJnA9MzEzOA%3D%3D","results":[{"id":3138,"registration_url":"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/20/","registrar":"gabriele","project":11,"organization":1,"project_slug":"vaccinateurs-rdc","organization_slug":"unicef","unique_field":null,"remote_ip":"31.10.171.159","timestamp":"2024-05-17T11:25:55.307299Z","ignored":false,"size":1444,"counters":{},"fields":{"gender_i_c":"male","admin_2_i_c":"CD6105","admin_3_i_c":"CD6105ZS01","phone_no_i_c":"3334895699","birth_date_i_c":"2024-05-12","given_name_i_c":"e","family_name_i_c":"d","middle_name_i_c":"d","wallet_provider_i_f":"vodacom;vodacom","electoral_card_no_i_c":"ddddd"},"index1":null,"index2":null,"index3":null,"is_offline":false,"registration":20},{"id":3137,"registration_url":"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/20/","registrar":"enqueteur_test","project":11,"organization":1,"project_slug":"vaccinateurs-rdc","organization_slug":"unicef","unique_field":null,"remote_ip":"169.159.218.82","timestamp":"2024-05-17T10:37:49.583365Z","ignored":false,"size":1532,"counters":{},"fields":{"gender_i_c":"male","admin_2_i_c":"CD6105","admin_3_i_[...]
- request:
    body: null
    headers:
      Authorization:
      - Token [FILTERED]
    method: GET
    uri: https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cD0zMTI5
  response:
    body:
      string: "{\"next\":null,\"previous\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/record/?cursor=cj0xJnA9MzEyOA%3D%3D\",\"results\":[{\"id\":3128,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/20/\",\"registrar\":null,\"project\":11,\"organization\":1,\"project_slug\":\"vaccinateurs-rdc\",\"organization_slug\":\"unicef\",\"unique_field\":null,\"remote_ip\":\"185.247.199.4\",\"timestamp\":\"2024-05-16T09:48:18.124350Z\",\"ignored\":false,\"size\":1189,\"counters\":{},\"fields\":{\"admin_4_i_c\":\"cd6105zs01;cd6105;alimbongo\",\"phone_no_i_c\":\"bsfbs\",\"given_name_i_c\":\"vbfdb\",\"family_name_i_c\":\"bdfbfd\",\"middle_name_i_c\":\"bfbfd\",\"wallet_provider_i_f\":\"bfsbfs\",\"electoral_card_no_i_c\":\"bfbfds\"},\"index1\":null,\"index2\":null,\"index3\":null,\"is_offline\":false,\"registration\":20},{\"id\":3127,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/10/\",\"registrar\":\"abed\",\"project\":4,\"organization\":4,\"project_slug\":\"test\",\"organization_slug\":\"test\",\"unique_field\":null,\"remote_ip\":\"185.247.199.4\",\"timestamp\":\"2024-05-15T10:08:44.123224Z\",\"ignored\":false,\"size\":838,\"counters\":{},\"fields\":{\"test\":\"sad\",\"location\":{\"accuracy\":11.556,\"latitude\":46.2297752,\"longitude\":6.1341459}},\"index1\":null,\"index2\":null,\"index3\":null,\"is_offline\":false,\"registration\":10},{\"id\":3126,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/10/\",\"registrar\":\"abed\",\"project\":4,\"organization\":4,\"project_slug\":\"test\",\"organization_slug\":\"test\",\"unique_field\":null,\"remote_ip\":\"185.247.199.4\",\"timestamp\":\"2024-05-15T08:57:49.174952Z\",\"ignored\":false,\"size\":19748,\"counters\":{},\"fields\":{\"test\":\"asdsd\",\"location\":{\"accuracy\":13.618,\"latitude\":46.2297642,\"longitude\":6.1341413}},\"index1\":null,\"index2\":null,\"index3\":null,\"is_offline\":false,\"registration\":10},{\"id\":3125,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/10/\",\"registrar\":null,\"project\":4,\"organization\":4,\"project_slug\":\"test\",\"organization_slug\":\"test\",\"unique_field\":null,\"remote_ip\":\"217.20.174.77\",\"timestamp\":\"2024-05-14T13:23:41.039155Z\",\"ignored\":false,\"size\":167777,\"counters\":{},\"fields\":{\"test\":\"answer\",\"master\":\"22\",\"test_1\":\"1\",\"location\":{\"accuracy\":60,\"latitude\":50.445984,\"longitude\":30.545418},\"dependant\":\"11\"},\"index1\":null,\"index2\":null,\"index3\":null,\"is_offline\":false,\"registration\":10},{\"id\":3124,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/10/\",\"registrar\":null,\"project\":4,\"organization\":4,\"project_slug\":\"test\",\"organization_slug\":\"test\",\"unique_field\":null,\"remote_ip\":\"185.247.199.4\",\"timestamp\":\"2024-05-14T13:19:34.426327Z\",\"ignored\":false,\"size\":3972536,\"counters\":{},\"fields\":{\"test\":\"Hhb\",\"location\":{\"accuracy\":35,\"altitude\":450.9066619873047,\"latitude\":46.23003586727006,\"longitude\":6.134132665074615,\"altitudeAccuracy\":16.6236572265625}},\"index1\":null,\"index2\":null,\"index3\":null,\"is_offline\":false,\"registration\":10},{\"id\":3123,\"registration_url\":\"https://uni-hope-ukr-sr-dev.unitst.org/api/registration/10/\",\"registrar\":null,\"project\":4,\"organization\":4,\"project_slug\":\"test\",\"organization_slug\":\"test\",\"unique_field\":null,\"remote_ip\":\"185.247.199.4\",\"timestamp\":\"2024-05-14T13:14:38.322876Z\",\"ignored\":false,\"size\":117219,\"counters\":{},\"fields\":{\"test\":\"vcxv\",\"lo[...]
