interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev-hope.unitst.org/api/rest/lookups/country/
  response:
    body:
      string: "{\"count\":250,\"next\":\"http://dev-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=50\",\"previous\":null,\"results\":[{\"id\":\"b902840f-68d3-40a0-b74d-0fb14096a11e\",\"name\":\"Afghanistan\",\"short_name\":\"Afghanistan\",\"iso_code2\":\"AF\",\"iso_code3\":\"AFG\",\"iso_num\":\"0004\",\"valid_from\":\"2021-10-28T09:39:12.210000Z\",\"valid_until\":null,\"updated_at\":\"2021-10-28T09:39:12.210000Z\"},{\"id\":\"039ef092-4a6d-4f95-aa69-d4d50ac76968\",\"name\":\"\xC5land
        Islands\",\"short_name\":\"\xC5land Islands\",\"iso_code2\":\"AX\",\"iso_code3\":\"ALA\",\"iso_num\":\"0248\",\"valid_from\":\"2021-10-28T09:39:12.221000Z\",\"valid_until\":null,\"updated_at\":\"2021-10-28T09:39:12.221000Z\"},{\"id\":\"f5f4c536-4404-4779-96cd-51e01c8e4ec0\",\"name\":\"Albania\",\"short_name\":\"Albania\",\"iso_code2\":\"AL\",\"iso_code3\":\"ALB\",\"iso_num\":\"0008\",\"v[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=50
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>Microsoft-Azure-Application-Gateway/v2</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://dev-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=50
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://dev-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=50
  response:
    body:
      string: "{\"count\":250,\"next\":\"http://dev-hope.unitst.org/api/rest/lookups/country/?limit=50&offset=100\",\"previous\":\"http://dev-hope.unitst.org/api/rest/lookups/country/?limit=50\",\"results\":[{\"id\":\"62625ad9-6c81-497d-853c-23495f599059\",\"name\":\"Congo\",\"short_name\":\"Congo\",\"iso_code2\":\"CG\",\"iso_code3\":\"COG[...]
[...]
