
#changelist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .changelist-form-container {
  }

  .clear {
    clear: both;
  }

  table {
    border-right: none;
    border-collapse: collapse;
    border-color: var(--border-color);

    thead {
      display: table-header-group;
      vertical-align: middle;
      unicode-bidi: isolate;

      th {
        //background: var(--selected-bg);
        font-size: 0.6875rem;
        border: none;
        border-bottom: 1px solid var(--hairline-color);
        border-top: 1px solid var(--hairline-color);
        color: var(--body-quiet-color);
        display: table-cell;
        font-weight: 500;
        line-height: normal;
        padding: 0;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
        white-space: nowrap;

        &.sorted {
          .text {
            margin-right: 42px;
          }
        }

        .text {
          span {
            padding: 8px 10px;
          }

          a {
            display: block;
            cursor: pointer;
            padding: 8px 10px;
            color: var(--body-quiet-color);
            text-decoration: none;
            transition: color 0.15s, background 0.15s;
          }
        }

        .sortoptions {
          display: block;
          padding: 9px 5px 0 5px;
          float: right;
          text-align: right;

          a {
            position: relative;
            width: 14px;
            height: 14px;
            display: inline-block;
            background: url(sorting-icons.svg) 0 0 no-repeat;
            background-size: 14px auto;
          }

          a.ascending {
            background-position: 0 -28px;
          }

          a.descending {
            top: 1px;
            background-position: 0 -56px;
          }

          a:link {
            color: var(--body-quiet-color);
            transition: color 0.15s, background 0.15s;
          }

          a.sortremove {
            background-position: 0 0;
          }
        }


        &.action-checkbox-column {
          width: 1.5em;
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        @apply hover:bg-gray-100;
        @apply border-b-gray-100 border;
      }

      td,th {
        padding: 20px;

        white-space: nowrap;
        font-size: 0.8125rem;
        overflow: auto;
        cursor: pointer;

        &.action-checkbox {
          width: 1.5em;
          text-align: center;
        }
      }

      tr:nth-child(odd) {
        @apply hover:bg-gray-100 bg-white py-12 border-b-gray-600;
      }

      tr:nth-child(even) {
        @apply hover:bg-gray-100 bg-white py-12 border-b-gray-600;
      }
    }
  }
}


#changelist-filter {
  @apply border bg-white border-gray-300 p-2 mt-5 ml-2;
  h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin-bottom: 12px;
    border-bottom: none;
  }

  #changelist-filter-extra-actions {
    a {
      @apply text-sm font-sans italic;
    }
  }

  h3, details summary {
    font-weight: 400;
    padding: 0 15px;
    margin-bottom: 10px;
  }

  details summary > * {
    display: inline;
  }

  details > summary {
    list-style-type: none;
  }

  details > summary::before {
    content: '→';
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--link-hover-color);
  }

  .filter-content {
    @apply p-0;
  }

  details[open] > summary::before {
    content: '↓';
  }

  ul {
    margin: 0 0;
    @apply px-0;
    border-bottom: 1px solid var(--hairline-color);

    li {
      @apply min-w-full;
      .select2-container {
        @apply min-w-full;
      }
    }
  }

  ul:last-child {
    border-bottom: none;
  }
}


.actions {
  @apply mb-2;
  select {
    @apply text-sm pt-1 pb-1;
  }

  button {
    @apply text-sm border px-2 py-1 bg-unicef-blue border-gray-500;
  }
}

table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}
