:root {
  --primary: #0f2f3b;
  --header-bg: #1E3A8AFF;
  --breadcrumbs-bg: #0f2f3b;
  --link-fg: #37b0f8;
  --accent: #f5dd5d;
  --header-color: #ffc;
  --border-color: #ccc;
  --body-bg: #fff;
  --darkened-bg: #f8f8f8;
  --selected-bg: #e4e4e4;
  --body-quiet-color: #666;
  --hairline-color: #e8e8e8;
}

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.breadcrumbs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(0 60 143 / var(--tw-text-opacity));
  //line-height: 24px;
}

ul.object-tools {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0.75rem;
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 1.25rem;
  justify-content: flex-end;
}

ul.object-tools li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

ul.object-tools li a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 60 143 / var(--tw-bg-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  margin: 0;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  vertical-align: middle;
  justify-content: center;
  min-width: 64px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  outline: 0;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(0, 60, 143);
}

ul.object-tools li a.disabled {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 60 143 / var(--tw-border-opacity));
}

.admin-change-link {
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(0 173 239 / var(--tw-text-opacity));
}

.admin-change-link .icon {
  vertical-align: middle;
  --tw-text-opacity: 1;
  color: rgb(0 173 239 / var(--tw-text-opacity));
}

.messages {
  position: absolute;
  top: 2.5rem;
  z-index: 50;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.messages .message {
  top: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  padding: 1rem;
  font-weight: 700;
}

.messages .message.success {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(22 101 52 / var(--tw-text-opacity));
}

.messages .message.error {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity));
}

.messages .message.warning, .messages .message.warn {
  --tw-bg-opacity: 1;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(113 63 18 / var(--tw-text-opacity));
}

#content #content-main {
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.75rem;
}

#content #content-related {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.75rem;
}

table th {
  text-align: left;
  font-weight: 400;
}

table td {
  padding: 0.25rem;
}

table tr:nth-child(odd).error, table tr:nth-child(even).error {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity));
}

table tr:nth-child(odd) {
}

table tr:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

#login-form {
  align-content: center;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  padding: 1.25rem;
}

#login-form table {
  min-width: 100%;
}

#login-form table tr:nth-child(even), #login-form table tr:nth-child(odd) {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  text-align: center;
}

#login-form table tr:nth-child(even) td input, #login-form table tr:nth-child(odd) td input {
  min-width: 100%;
}

/*


button.button {
  background-color: #0dcaf0;
}


.select2-container.select2-container--filter-autocomplete.select2-container--open,
.select2-container--open,
.select2-search--dropdown,
.select2-results {
  @apply bg-white min-w-full;
}


body.web {
  .button {
    @apply text-white font-bold py-2 px-4 rounded focus:outline-none cursor-pointer;
    &.small {
      @apply py-1 px-2;
    }

    &.primary {
      @apply bg-unicef-blue hover:bg-unicef-dark;
    }

    &.secondary {

    }
  }

  header {
    img {
      height: 64px;
    }
  }

  table.report-detail {
    @apply w-3/4 m-auto;
    tr {
      th {
        @apply text-left w-1/3 capitalize;
      }
    }
  }

  table.document-list {
    @apply w-3/4 m-auto mt-10;
    th {
      @apply capitalize;
    }

  }


  .OfficeReportLisyView {
    @apply bg-gray-100;
  }

  input, select {
    @apply text-black;
  }

  .breadcrumbs {
    @apply flex bg-unicef-blue;
    ul {
      @apply flex;
      li {
        @apply px-2;
      }
    }
  }


  h1 {
    @apply text-2xl mb-4;
  }

  small {
    @apply text-sm;
  }

  .tag {
    @apply text-xs font-medium mr-2 px-2.5 py-0.5 rounded;

    &.blue {
      @apply bg-blue-100 text-blue-800  dark:bg-blue-900 dark:text-blue-300
    }

    &.gray {
      @apply bg-gray-100 text-gray-800  dark:bg-gray-700 dark:text-gray-300
    }

    &.red {
      @apply bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300
    }

    &.yellow {
      @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300
    }

    &.indigo {
      @apply bg-indigo-100 text-indigo-800 dark:bg-indigo-900 dark:text-indigo-300
    }

    &.purple {
      @apply bg-purple-100 text-purple-800  dark:bg-purple-900 dark:text-purple-300
    }

    &.green {
      @apply bg-purple-100 text-green-800  dark:bg-purple-900 dark:text-purple-300
    }
  }

  ul.menu {
    li {
      @apply h-12;
      a {
      }

      &.selected {
        @apply bg-white;
      }

      :hover {
        @apply bg-gray-300;
      }
    }
  }
}

body.api {
  .wrapper {
    .navbar {
      @apply bg-unicef-blue text-white border-0;
      .navbar-brand {
        @apply bg-unicef-blue text-white;
      }
    }

  }

  h1 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
  }
}

body.web {

  .helptext {
    @apply text-xs italic;
  }

  select {
    @apply rounded py-1;
    border-color: #aaa;

  }

  .select2-container {
    .selection {

      .select2-selection {
        height: 36px;

        .select2-selection__rendered {
          @apply py-1;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
          background-position: right 0.5rem center;
          background-repeat: no-repeat;
          background-size: 1.5em 1.5em;
        }

        .select2-selection__arrow {
          display: none;
        }
      }
    }
  }
}
**/

#changelist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#changelist .changelist-form-container {
  width: 50%;
}

#changelist .changelist-form-container #changelist-form .results {
  width: 300px;
  overflow: scroll;
}

#changelist .changelist-form-container #changelist-form .results table {
}

#changelist .changelist-form-container #changelist-form .actions {
  margin-bottom: 0.5rem;
}

#changelist .changelist-form-container #changelist-form .actions select {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#changelist .changelist-form-container #changelist-form .actions button[type=submit] {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#changelist .changelist-form-container #changelist-form .actions .action-counter, #changelist .changelist-form-container #changelist-form .actions .all {
  margin-left: 1.25rem;
}

#changelist .changelist-form-container #changelist-form .actions .question a, #changelist .changelist-form-container #changelist-form .actions .clear a {
  --tw-text-opacity: 1;
  color: rgb(0 60 143 / var(--tw-text-opacity));
}

#changelist .clear {
  clear: both;
}

#changelist table {
  border-right: none;
  border-collapse: collapse;
  border-color: var(--border-color);
}

#changelist table thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
}

#changelist table thead th {
  //background: var(--selected-bg);
  font-size: 0.6875rem;
  border: none;
  border-bottom: 1px solid var(--hairline-color);
  border-top: 1px solid var(--hairline-color);
  color: var(--body-quiet-color);
  display: table-cell;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

#changelist table thead th.sorted .text {
  margin-right: 42px;
}

#changelist table thead th .text span {
  padding: 8px 10px;
}

#changelist table thead th .text a {
  display: block;
  cursor: pointer;
  padding: 8px 10px;
  color: var(--body-quiet-color);
  text-decoration: none;
  transition: color 0.15s, background 0.15s;
}

#changelist table thead th .sortoptions {
  padding: 9px 5px 0 5px;
  float: right;
  display: block;
  text-align: right;
}

#changelist table thead th .sortoptions a {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url(sorting-icons.svg) 0 0 no-repeat;
  background-size: 14px auto;
}

#changelist table thead th .sortoptions a.ascending {
  background-position: 0 -28px;
}

#changelist table thead th .sortoptions a.descending {
  top: 1px;
  background-position: 0 -56px;
}

#changelist table thead th .sortoptions a:link {
  transition: color 0.15s, background 0.15s;
}

#changelist table thead th .sortoptions a.sortremove {
  background-position: 0 0;
}

#changelist table thead th .sortoptions span.sortpriority {
}

#changelist table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}

#changelist table tbody tr:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

#changelist table tbody tr {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(243 244 246 / var(--tw-border-opacity));
}

#changelist table tbody td, #changelist table tbody th {
  padding: 20px;
  white-space: nowrap;
  font-size: 0.8125rem;
  overflow: auto;
  cursor: pointer;
}

#changelist table tbody td.action-checkbox, #changelist table tbody th.action-checkbox {
  width: 1.5em;
  text-align: center;
}

#changelist table tbody tr:nth-child(odd) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#changelist table tbody tr:nth-child(odd):hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

#changelist table tbody tr:nth-child(even) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#changelist table tbody tr:nth-child(even):hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

#changelist table tbody tr.selected:nth-child(odd), #changelist table tbody tr.selected:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

#changelist-filter {
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

#changelist-filter h2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  margin-bottom: 12px;
  border-bottom: none;
}

#changelist-filter #changelist-filter-extra-actions a {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: italic;
}

#changelist-filter h3 {
  font-weight: 400;
  padding: 0 15px;
  margin-bottom: 10px;
}

#changelist-filter details {
  margin-top: 0.25rem;
}

#changelist-filter details > * {
  display: inline;
}

#changelist-filter details summary {
  font-weight: 400;
  padding: 0 15px;
  margin-bottom: 10px;
  list-style-type: none;
  cursor: pointer;
}

#changelist-filter details summary::before {
  //content: '→';
  content: '►';
  //content: '▷';
  font-weight: bolder;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  color: var(--link-hover-color);
}

#changelist-filter details:last-child {
  margin-bottom: 1rem;
}

#changelist-filter details.active summary {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(0 173 239 / var(--tw-text-opacity));
}

#changelist-filter details[open] > summary::before {
  //content: '↓';
  content: '▼';
}

#changelist-filter ul {
  margin: 0 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#changelist-filter ul select {
  min-width: 100%;
  padding: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 4px;
  min-height: 30px;
  height: 28px;
  border-color: rgb(204, 204, 204);
}

#changelist-filter ul select:active {
  border-color: rgb(204, 204, 204)
}

#changelist-filter ul li {
  min-width: 100%;
}

#changelist-filter ul li .select2-container {
  border-radius: 4px;
  min-width: 100%;
}

#changelist-filter ul li.selected {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(0 173 239 / var(--tw-text-opacity));
}

#changelist-filter ul:last-child {
  border-bottom: none;
}

table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}

.paginator {
  display: flex;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding: 0.5rem;
}

.paginator a, .paginator span {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.paginator span {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

form input[type=text], form input[type=number], form input[type=password], form input [ type = date ], form select {
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

form .helptext {
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: italic;
}

a.button, input[type=submit], input[type=button], button.button, a.closelink, a.deletelink {
  margin: 0;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  vertical-align: middle;
  justify-content: center;
  min-width: 64px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  outline: 0;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  text-decoration: none;
  line-height: inherit;
  height: 33px;
  display: inline-block;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(0, 60, 143);
}

a.button.default,input[type=submit].default,input[type=button].default,button.button.default,a.closelink.default,a.deletelink.default{
  background-color: rgb(0, 60, 143);
}

a.button.closelink,input[type=submit].closelink,input[type=button].closelink,button.button.closelink,a.closelink.closelink,a.deletelink.closelink{
  background-color: rgba(99, 92, 15, 0.53);
}

.submit-row {
  margin-top: 1.25rem;
}

.submit-row a.closelink {
  @extend a.button;
  background-color: rgba(99, 92, 15, 0.53);
}

.submit-row a.deletelink {
  background-color: rgb(207, 34, 34);
  float: right;
}

fieldset.module {
  border: none;
  margin: 0;
  margin-bottom: 30px;
  background: var(--body-bg);
  min-width: 0;
  padding: 0;
}

fieldset.module .fieldBox {
  margin-right: 20px;
}

fieldset.module .form-row {
  overflow: hidden;
  padding: 10px;
  font-size: 0.8125rem;
  border-bottom: 1px solid var(--hairline-color);
  margin-bottom: 0;
}

fieldset.module .form-row input, fieldset.module .form-row select {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

fieldset.module .form-row .flex-container {
  display: flex;
}

fieldset.module .form-row .flex-container .related-widget-wrapper {
  display: flex;
  gap: 0 10px;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

fieldset.module .form-row label {
  display: block;
  padding: 4px 10px 0 0;
  min-width: 160px;
  width: 160px;
  word-wrap: break-word;
  color: var(--body-quiet-color);
  font-size: 0.8125rem;
}

.beneficiary-form input[type=text], .beneficiary-form select {
  min-width: 100%;
}

.beneficiary-form .validation-error {
  font-style: italic;
}

body.web header {
  color: white;
}

body.web header select {
  padding: 0.25rem;
  min-width: 12rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

body.web header svg.sidebar-button {
  fill: white;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  border-color: white;
}

.title-top {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.title-top h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.87);
  padding: 28px 44px;
}

div.footer-signature {
  display: block;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

div.footer-signature div {
  margin: auto;
}

div.footer-signature div span {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

#tabs {
  margin-bottom: 1rem;
  display: flex;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

#tabs:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

#tabs ul {
  margin-bottom: -1px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

#tabs ul li button {
  display: inline-block;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-width: 2px;
  padding: 1rem;
}

#tabs ul li button:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 60 143 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 173 239 / var(--tw-text-opacity));
}

#tabs ul li button:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

#tabs ul li button.selected {
  --tw-border-opacity: 1;
  border-color: rgb(0 60 143 / var(--tw-border-opacity));
}

#tab-content {
  margin-bottom: 1rem;
  display: block;
  min-width: 100%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

#tab-content:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

#tab-content div {
  display: block;
  min-width: 100%;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  padding: 1rem;
}

#tab-content div:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

#tab-content div.hidden {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*


! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}

input::placeholder,textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
  text-align: inherit;
}

::-webkit-datetime-edit {
  display: inline-flex;
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

[multiple],[size]:where(select:not([size="1"])) {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          print-color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='checkbox']:checked {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='radio']:checked {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (forced-colors: active)  {
  [type='checkbox']:indeterminate {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus {
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}

.static {
  position: static;
}

.float-right {
  float: right;
}

.m-2 {
  margin: 0.5rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-auto {
  margin: auto;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.me-2 {
  margin-inline-end: 0.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-40 {
  margin-top: 10rem;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-12 {
  height: 3rem;
}

.h-16 {
  height: 4rem;
}

.h-5\/6 {
  height: 83.333333%;
}

.h-screen {
  height: 100vh;
}

.w-1\/4 {
  width: 25%;
}

.w-1\/6 {
  width: 16.666667%;
}

.w-16 {
  width: 4rem;
}

.w-52 {
  width: 13rem;
}

.w-full {
  width: 100%;
}

.min-w-full {
  min-width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-none {
  flex: none;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.table-fixed {
  table-layout: fixed;
}

.caption-bottom {
  caption-side: bottom;
}

.border-collapse {
  border-collapse: collapse;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-t-black {
  --tw-border-opacity: 1;
  border-top-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-unicef-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 173 239 / var(--tw-bg-opacity));
}

.bg-unicef-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(35 57 68 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.text-center {
  text-align: center;
}

.align-middle {
  vertical-align: middle;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-9xl {
  font-size: 8rem;
  line-height: 1;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-extralight {
  font-weight: 200;
}

.text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
